.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 120px;

    .footer-item {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 50px;
        font-size: 22px;
        color: white;

        .footer-box {
            display: flex;
            flex: 1;
            flex-direction: column;
            gap: 20px;

            .footer-img {
                display: flex;
                align-items: center;
                gap: 20px;
            }

            .legal {
                width: 100%;
                font-size: 24px;
                font-weight: 400;
            }

            input {
                width: 300px;
                height: 55px;
                padding: 0px 10px;
                font-size: 18px;
                border-radius: 5px;
            }

            button {
                width: 150px;
                height: 55px;
                background-color: #02897A;
                color: white;
                border: none;
                font-size: 18px;
                border-radius: 5px;
                cursor: pointer;
            }
        }

    }
}

@media (max-width: 1117px) {
    .footer {
        padding: 50px 80px;

        .footer-item {
            gap: 30px;
            font-size: 20px;
        }
    }
}

@media (max-width: 1001px) {
    .footer {
        padding: 50px;

        .footer-item {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            font-size: 18px;
        }
    }
}

@media (max-width: 768px) {
    .footer {
        padding: 50px;

        .footer-item {
            grid-template-columns: repeat(1, 1fr);
            gap: 45px;
            font-size: 18px;
            .footer-box{
                align-items: center;
                text-align: center;
                
            }
        }
    }
}