.registers{
    display: flex;
    flex-direction: column;
    padding: 100px 300px;

   .register-form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #22343D;
    padding: 50px 50px;

    input{
        padding: 10px;
        font-size: 18px;
        border-radius: 50px;
        border: none;
    }
    textarea{
        height: 300px;
        padding: 10px;
        font: 16px;
    }
    
    button{
        padding: 15px 40px;
        font-size: 18px;
        border-radius: 50px;
        border: none;
        background-color: #02897A;
        color: white;
    }

    .register-title{
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        font-weight: 700;
        color: white;
    }
   }
}