.contact-us{
    display: flex;
    padding: 100px 120px;
    align-items: center;
    justify-content: center;
    

    .contact-us-items{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        .contact-us-title{
            font-size: 48px;
            color: white;
            font-weight: 600;
        }
        .contact-us-list{
            width: 50%;
            text-align: center;
            font-size: 24px;
            color: white;
            font-weight: 400;
        }

        .contact-us-icon{
            display: flex;
            gap: 20px;
            font-size: 30px;
            margin-top: 30px;
            i{
                background-color: white;
                padding: 10px 10px;
                border-radius: 50px;
            }
        }
    }

    .contact-us-img{
        padding: 50px 0px;
    }
}